<%- include('header') -%>
<%- include('bar') -%>
<div class="container">

            <h2>That is Me</h2>
            <form>
                <div class="form-group">
                    <img src="20211112_215553_lina.jpg" alt="" width="500" height="350" >
                    <br>
                    <label for="pass">Szöveg itt lesz majd</label>
                    
                </div>
                <a class="btn btn-primary" href="/category">Vissza</a>
            </form>
</div>

<%- include('footer') -%>
