<%- include('header') -%>
<%- include('bar') -%>
<div class="container">

            
            <form>
                <div class="form-group">
                    <h3>Category</h3>
                    <label for="pass">3D</label>
                    <h3>Tiem Type</h3>
                    <label for="pass">Napok</label>
                    <br>
                    
                    
                    <br>
                    <img src="thanos.png" alt="" width="500" height="350" >
                    <br>
                    <h3>Descreption</h3>
                    <label for="pass">Itt lesz</label>

                    
                </div>
                <a class="btn btn-primary" href="Menu.html">Vissza</a>
            </form>
</div>

<%- include('footer') -%>
