<%- include('header') -%>
<%- include('bar') -%>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Category Edit</h2>
            <form>
                <div class="form-group">
                    <label for="nev">Category name</label>
                    <input type="text" class="form-control" id="category" name="category">
                    
                </div>
                <div class="form-group">
                    <label for="category">Time type</label>
                    <input type="text" class="form-control" id="time" name="time">
                </div>
                <a class="btn btn-primary" href="Menu.html">Mentés</a>
                <a class="btn btn-link" href="Menu.html">Mégsem</a>
            </form>
        </div>
    </div>
</div>
<%- include('footer') -%>
